.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Form {
  display: flex;
  flex-flow: column wrap;
  margin-bottom:8px;
}

.App-Form label {
  margin-right: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
}

.App-Form input[type="submit"] {
  margin-right: 8px;
}

.App-Form .Form-Line {
  display: flex;
  flex-flow: row wrap;
}

.App-Form .Form-Line .Form-Line-Section {
  display:flex;
  flex-flow: row wrap;
  flex-grow:1;
}

.App-Form .Form-Line .filler {
  flex-grow:1;
}

