.App-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.App-Body {
  display: flex;
  flex-flow: column wrap;
  width: 1248px;
  max-width: 1248px;
  padding-left: 32;
  padding-right: 32;
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Form {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 8px;
}

.App-Form label {
  margin-right: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.App-Form input[type="submit"] {
  margin-right: 8px;
}

.App-Form .Form-Line {
  display: flex;
  flex-flow: row wrap;
}

.App-Form .Form-Line .Form-Line-Section {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.App-Form .Form-Line .Form-Line-Section input {
  margin-left:5px;
}

.App-Form .Form-Line .filler {
  flex-grow: 1;
}
